/****************************************************************************


CALC.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "calc.rh"

Calculator DIALOG 0, 0, 250, 250
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Super Calculator"
FONT 8, "MS Sans Serif"
{
 CONTROL "0", IDC_num_box, "EDIT", ES_MULTILINE | WS_DISABLED | WS_BORDER | WS_TABSTOP, 4, 9, 242, 54
 CONTROL "0", IDC_number0, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 220, 37, 25
 CONTROL "1", IDC_number1, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 188, 37, 25
 CONTROL "4", IDC_number4, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 156, 37, 25
 CONTROL "7", IDC_number7, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 8, 124, 37, 25
 CONTROL "+", IDC_plus, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 152, 220, 37, 25
 CONTROL "2", IDC_number2, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 188, 37, 25
 CONTROL "5", IDC_number5, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 156, 37, 25
 CONTROL "8", IDC_number8, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 124, 37, 25
 CONTROL "-", IDC_subtract, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 188, 37, 25
 CONTROL "Calculate", IDC_return, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 220, 37, 25
 CONTROL "3", IDC_number3, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 188, 37, 25
 CONTROL "6", IDC_number6, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 156, 37, 25
 CONTROL "9", IDC_number9, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 124, 37, 25
 CONTROL "Remainder", IDC_remainder, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 92, 37, 25
 CONTROL "div", IDC_divide, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 124, 37, 25
 CONTROL "Memory", IDC_memory, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 92, 37, 25
 CONTROL "Clear", IDC_clear, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 92, 37, 25
 CONTROL "*", IDC_multiply, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 156, 37, 25
 CONTROL "Reset", IDC_reset, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 92, 37, 25
 CONTROL "X ^ Y", IDC_power, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 92, 37, 25
 CONTROL "abs", IDC_absoluteV, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 56, 220, 37, 25
 CONTROL "10 ^ X", IDC_pow10, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 124, 37, 25
 CONTROL "2 ^ x", IDC_pow2, "BorBtn", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 156, 37, 25
 PUSHBUTTON "Close", IDCANCEL, 200, 188, 37, 57
}
