/****************************************************************************


BASES.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "bases.rh"
MYMENU MENU
{
 MENUITEM "&Alarm  ON", ID_ALARM_ON
}

MYMENU2 MENU
{
 MENUITEM "&Alarm  OFF", ID_ALARM_OFF
}

MainWindow DIALOG 6, 0, 320, 272
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "BASES"
MENU MYMENU
FONT 10, "Courier"
{
 CONTROL "0", ID_Base2, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 10, 132, 12
 CONTROL "0", ID_Base3, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 32, 88, 12
 CONTROL "0", ID_Base4, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 54, 68, 12
 CONTROL "0", ID_Base5, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 76, 60, 12
 CONTROL "0", ID_Base6, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 98, 56, 12
 CONTROL "0", ID_Base7, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 120, 52, 12
 CONTROL "0", ID_Base8, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 142, 48, 12
 CONTROL "0", ID_Base9, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 164, 48, 12
 CONTROL "0", ID_Base10, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 186, 44, 12
 CONTROL "0", ID_Base11, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 10, 208, 44, 12
 LTEXT "Base 2", -1, 10, 2, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 3", -1, 10, 24, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 4", -1, 10, 46, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 5", -1, 10, 68, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 6", -1, 10, 90, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 7", -1, 10, 112, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 8", -1, 10, 134, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 9", -1, 10, 156, 32, 8
 LTEXT "Base 10", -1, 10, 178, 32, 8
 LTEXT "Base 11", -1, 10, 200, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 CONTROL "0", ID_Base12, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 10, 40, 12
 CONTROL "0", ID_Base13, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 32, 40, 12
 CONTROL "0", ID_Base14, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 54, 40, 12
 CONTROL "0", ID_Base15, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 76, 40, 12
 CONTROL "0", ID_Base16, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 98, 36, 12
 CONTROL "0", ID_Base17, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 120, 36, 12
 CONTROL "0", ID_Base18, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 142, 36, 12
 CONTROL "0", ID_Base19, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 164, 36, 12
 CONTROL "0", ID_Base20, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 186, 36, 12
 CONTROL "0", ID_Base21, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 152, 208, 36, 12
 CONTROL "0", ID_Base22, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 10, 36, 12
 CONTROL "0", ID_Base23, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 32, 36, 12
 CONTROL "0", ID_Base24, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 54, 32, 12
 CONTROL "0", ID_Base25, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 76, 32, 12
 CONTROL "0", ID_Base26, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 98, 32, 12
 CONTROL "0", ID_Base27, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 120, 32, 12
 CONTROL "0", ID_Base28, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 142, 32, 12
 CONTROL "0", ID_Base29, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 164, 32, 12
 CONTROL "0", ID_Base30, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 186, 32, 12
 CONTROL "0", ID_Base31, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 202, 208, 32, 12
 CONTROL "0", ID_Base32, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 248, 10, 32, 12
 CONTROL "0", ID_Base33, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 248, 32, 32, 12
 CONTROL "0", ID_Base34, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 248, 54, 32, 12
 CONTROL "0", ID_Base35, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 248, 76, 32, 12
 CONTROL "0", ID_Base36, "EDIT", ES_LEFT | ES_UPPERCASE | WS_CHILD | WS_VISIBLE | WS_BORDER, 248, 98, 32, 12
 LTEXT "Base 12", -1, 152, 2, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 13", -1, 152, 24, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 14", -1, 152, 46, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 15", -1, 152, 68, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 16", -1, 152, 90, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 17", -1, 152, 112, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 18", -1, 152, 134, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 19", -1, 152, 156, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 20", -1, 152, 178, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 21", -1, 152, 200, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 22", -1, 202, 2, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 23", -1, 202, 24, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 24", -1, 202, 46, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 25", -1, 202, 68, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 26", -1, 202, 90, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 27", -1, 202, 112, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 28", -1, 202, 134, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 29", -1, 202, 156, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 30", -1, 202, 178, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 31", -1, 202, 200, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 32", -1, 248, 2, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 33", -1, 248, 24, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 34", -1, 248, 46, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 35", -1, 248, 68, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 LTEXT "Base 36", -1, 248, 90, 32, 8, SS_LEFT | WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Reset", ID_RESET, 90, 110, 36, 15, BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE
 PUSHBUTTON "QUIT", IDCANCEL, 90, 141, 36, 15, BS_PUSHBUTTON | BS_LEFTTEXT | WS_CHILD | WS_VISIBLE
}
